body{
  background-image: url("./Assets/milad-fakurian-GJKx5lhwU3M-unsplash.jpg");
  position: cover;
}

.textColor{
  color: white;
}

.App {
  text-align: center;
}

.DashboardBtns{
  display: flex;
  justify-content: space-between;
}

.BlogDescription{
  font-size: 1.25rem;
  color: black;
  font-family: Arial, Helvetica, sans-serif ;
}

.Links{
  color: rgba(255, 255, 255, 0.965) !important;
}


